# Ignora tudo por padrao
*

# Mantem os diretorios para o Git encontrar os arquivos permitidos
!*/

# Mantem apenas os fontes C
!*.c

# Mantem os arquivos de configuracao do repositorio
!.gitignore
!.gitattributes
